<form action="/openings" method="post">
  <label for="title">Add a Title for the Job Opening</label>
  <input id="title" name="title" type="text">

  <label for="description">Add a description</label>
  <input id="description" name="description" type="text">

  <label for="contactInfo">Add your contact info (phone number, e-mail, etc.)</label>
  <input id="contactInfo" name="contactInfo" type="text">
  <button type="submit">Submit</button>
</form>