@* <form action="/items" method="post">
  <label for="description">Add a new item</label>
  <input id="description" name="description" type="text">

  <label for="price">Add a price</label>
  <input id="price" name="price" type="text">

  <label for="packedOrNot">Packed or not?</label>
  <select id="packedOrNot" name="packedOrNot">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>

  <label for="weight">Add item weight</label>
  <input id="weight" name="weight" type="text">
  <button type="submit">Submit</button>
</form> *@