<h1>Job Board Opening Details: </h1>

<h2>Opening title: @Model.Title</h2>
<h2>Opening description: @Model.Description</h2>
<h2>Opening contact information: @Model.ContactInfo</h2>

<a href='/openings/new'>Add another opening</a>
<a href='/openings'>View all current openings</a>